<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="YahooSmtpHost" value="smtp.mail.yahoo.com"/>
		<add key="YahooSmtpPort" value="587"/>
		<add key="YahooMail" value="monu.chanchlani@yahoo.com"/>
		<add key="YahooAppPassword" value="dojwyolyosaqvijw"/>
	</appSettings>
</configuration>